* {
    box-sizing: border-box;
    hyphens: auto
}
main { margin: 0 auto;
    width:95%;
    text-align: center;

}
@media screen and (min-width: 750px) {
    main{
        width: 90%
    }

}

body {
    font-family: 'Mate SC', serif;
    line-height: 1.5;
   }
h1 {
    color: red;
    line-height: 1.1;
}
header {
    background-color:lightcyan;
    color:black;
    border: thick solid orange;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
    font: bold;
line-height: 1.1;}


#WODcontent {
    color: white;
    align-items: baseline;
    background-color: lightgreen;
    box-shadow: 0 0 3px 7px white;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: url(https://s3.us-east-2.amazonaws.com/codewestbrook.com/file/Images/samantha.png) center / cover no-repeat grey;
    background-blend-mode: multiply;
    opacity: 0.9;
    border-radius: 10%;
    padding:15px;
}

#EmailDiv{ align-items: center;
    margin: auto;
    padding: 3vh;
}
#EmailClickMe{
    margin: auto;
color: blue;
    box-sizing:border-box
}



/*.coverphoto {
    max-width: 30%;
    max-height: 400px;
    height: auto;
    width: auto;
    padding: 15px;
    object-fit: cover;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;

}*/
footer {
    font-size: 10px;
    margin-top:100px;
    line-height: 1.1;
    position: sticky bottom left;
    left: 0;
    bottom: 0
    
}

#dateselector {
    margin: 10px
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #246;
    flex-direction: column;
    align-items: stretch;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: white;
    color: black;
    
  }


  #datebutton {
      background-image: radial-gradient(green,yellow );
      padding: .25rem 1rem ;
      font: bold;
      border: black bold
      
  }
  #datebutton7{margin: 20px;}



  
/*Section for Media Queries because Im a good coder and am trying to segment things :)*/
@media screen and (min-width: 750px){
    #WODcontent{
        width: 60%;
        padding:25px;
    }
}
@media screen and (min-width: 1200px){
    #WODcontent{
        width: 80%;
        padding:25px;
    }
}


@media screen and (min-width: 750px){
    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #246;
        flex-direction: row;
        align-items: stretch;
      }
    }