



* {
    box-sizing: border-box;
    hyphens: auto
}

body {
    font-family: 'Mate SC', serif;
    line-height: 1.5;
   }
h1 {
    color: black;
    line-height: 1.1;
}
header {
    background-color:lightcyan;
    color:black;
    border: thick solid orange;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
    font: bold;
line-height: 1.1;}


#WODcontent {
    color: white;
    align-items: baseline;
    background-color: lightgreen;
    box-shadow: 0 0 3px 7px white;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 75%;
    background: url(https://s3.us-east-2.amazonaws.com/codewestbrook.com/file/Images/samantha.png) center / cover no-repeat grey;
    background-blend-mode: multiply;
    opacity: 0.9;
    border-radius: 10%;
    padding: 20px;
}


@media screen and (min-width: 700px){
    #WODcontent{
        width: 50%;
    }
}

/*.coverphoto {
    max-width: 30%;
    max-height: 400px;
    height: auto;
    width: auto;
    padding: 15px;
    object-fit: cover;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;

}*/
footer {
    font-size: 10px;
    margin-top:100px;
    line-height: 1.1;
    
}

#dateselector {
    margin: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }